<div class="container row">
    <div class="col m6 offset-m3 s12">
        <div class="card">
            <div class="card-content">
                <h5 class="center"><i class="fa fa-sign-in-alt"></i> Log In</h5>
                <form action="/login" method="POST">
                    <div class="input-field">
                        <input type="email" name="email" id="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" id="password" required>
                        <label for="password">Password</label>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col m10 offset-m1 s12 center">
                            <a href="#" class="btn google orange darken-4"><i class="fa fa-google"> &nbsp;&nbsp;Log In
                                    With
                                    Google</i></a>
                        </div>
                    </div>
                    <a href="/register" class="btn teal darken-2 left-align">Register</a>
                    <button class="btn teal darken-2 right">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>