<div class="container row">
    <div class="col m6 offset-m3 s12">
        <div class="card">
            <div class="card-content">
                <h5 class="center"><i class="fa fa-user-plus"></i> Register</h5>
                <form action="/register" method="POST">
                    <div class="input-field">
                        <input type="text" name="name" id="name" required>
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field">
                        <input type="email" name="email" id="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" name="pass1" id="pass1" required>
                        <label for="pass1">Password</label>
                    </div>
                    <div class="input-field ">
                        <input type="password" name="pass2" id="pass2" class="pass2" required>
                        <label for="pass2">Confirm Password</label>
                    </div>
                    <br>
                    <a href="/" class="btn teal darken-2 left-align">Back</a>
                    <button class="btn teal darken-2 right">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>