{{#if user}}
<div class="container">
    <div class="fixed-action-btn">
        <a href="/add" class="btn btn-large btn-floating orange darken-4"><i class="fa fa-plus"></i> </a>
    </div>
</div>
{{else}}

{{/if}}