<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Welcome</h5>
                <p class="grey-text text-lighten-4">You are very welcome to this website. You can create, update or
                    delete your post/story here :)
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">My Story</a></li>
                    <li><a class="grey-text text-lighten-3" href="/about">About Me</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright
            <a class="grey-text text-lighten-4 right" href="https://github.com/abhishekk8210">@abhishekk8210</a>
        </div>
    </div>
</footer>