<div class="container about" style="margin-top: 2.5rem;">
    <div class="left card">
        <div class="card-content">
            <h4>About Me</h4>
            <p>Glad to see you here, <br>Hope You will use this for your personal Post/Story writting. It's a fully
                authorized
                site, you can create, edit or delete your Post/Story whenever you want and if you have still any doubt
                then
                you can contact me by sending the message with your Email Address and Name. <br> <br> Nice To Meet You,
                Have
                A
                Great
                Day :)</p>
        </div>
    </div>
    <div class="right">
        <div class="container">
            <form action="">

                <div class="input-field">
                    <input type="text" name="name" id="full_name" class="validate">
                    <label for="full_name">Your Name</label>
                </div>
                <div class="input-field">
                    <input type="email" name="email" id="email" class="validate">
                    <label for="email">Your Email Address</label>
                </div>
                <textarea name="message" id="" style="height: 7rem; padding: 7px;" placeholder="Message"></textarea>
                <button class="btn teal" style="margin-bottom: 5px;"> Send</button>
            </form>
        </div>

    </div>
</div>